<ion-header>
  <ion-navbar>
    <ion-title style="">Team Roster</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page" >

<!--<ion-card *ngFor="let character of chosenCharacters; let i = index">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/teamroster/{{character.name}}.png" >
          </ion-avatar>
          <h2>{{character.name}}</h2>
          <div class="progress-outer">
                  <div class="progress-inner" [style.width]="(progress1/750) + '%'">
                    {{progress1}}
                  </div>
          </div>
          <p></p>
        </ion-item>
        <img src="assets/imgs/teamroster/{{character.name}}.png" style="width:50% !important; margin:auto;">
        <br><br>
        <button ion-button color="secondary" (click)="alterExperience(1,i)">add experience</button>
        <button ion-button color="danger" (click)="alterExperience(-1,i)">subtract experience</button>
          <p>{{character.description}}</p>
          <br>
        <ion-row>
          <ion-col>
              <div>Movement: {{character.M}}</div>
          </ion-col>
          <ion-col>
              <div>Weapon Skill: {{character.WS}}</div>
          </ion-col>
          <ion-col>
              <div>Ballistic Skill: {{character.BS}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <div>Strength: {{character.S}}</div>
          </ion-col>
          <ion-col>
              <div>Toughness: {{character.T}}</div>
          </ion-col>
          <ion-col>
              <div>Wounds: {{character.W}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <div>Attacks: {{character.A}}</div>
          </ion-col>
          <ion-col>
              <div>Leadership: {{character.Ld}}</div>
          </ion-col>
          <ion-col>
              <div>Armour Save: {{character.Sv}}</div>
          </ion-col>
        </ion-row>
        <br><br>

</ion-card>-->
<button ion-button full  style= "background-color:gray !important;" id="showStatGuideButton" (click)="showStatGuide()">Stat Guide</button>
<button ion-button full style= "display:none;background-color:gray !important;" id="hideStatGuideButton" (click)="hideStatGuide()">Hide</button>


        <ion-row class=statGuide style="background-color:#ead383 !important;color:#5e4d13; text-align: center; display: none;border: 1px solid #d3be76;padding:10px;">
          <ion-col>
              <div><span style="font-weight:bold;">Movement</span><br><br>movement in inches</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight:bold;">Weapon Skill</span><br><br>dice roll to hit in close combat phase</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight:bold;">Ballistic Skill</span><br><br>dice roll to hit in shooting phase</div>
          </ion-col>
        </ion-row>
        <ion-row class=statGuide style="background-color:#ead383 !important;color:#5e4d13; text-align: center;display: none;border: 1px solid #d3be76;padding:10px;">
          <ion-col>
              <div><span style="font-weight:bold;">Strength</span><br><br>strength of model in close combat phase</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight:bold;">Toughness</span><br><br>resistance to strength of attacks</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight:bold;">Wounds</span><br><br>health pool counts down till model suffers injury roll</div>
          </ion-col>
        </ion-row>
        <ion-row class=statGuide style="background-color:#ead383 !important;color:#5e4d13; text-align: center;display: none;border: 1px solid #d3be76;padding:10px;">
          <ion-col>
              <div><span style="font-weight:bold;">Attacks</span><br><br>number of attacks in close combat phase</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight:bold;">Leadership</span><br><br>stat used for leadership tests</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight:bold;">Armour Save</span><br><br>dice roll to save against wounds</div>
          </ion-col>
        </ion-row>


<ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/teamroster/{{character1.name}}.png" >
          </ion-avatar>
          <h2>{{character1.name}}</h2>
          <div class="progress-outer">
                  <div class="progress-inner" [style.width]="(progress1/750) + '%'">
                    {{progress1}}
                  </div>
          </div>
          <p></p>
        </ion-item>
        <img src="assets/imgs/teamroster/{{character1.name}}.png" style="width:50% !important; margin:auto;">
        <br><br>
        <button ion-button style="background-color:#2f5834;" (click)="alterExperience(1,1)">+ experience</button>
        <button ion-button style="background-color:#581f16;" (click)="alterExperience(-1,1)">- experience</button>
        <br><br>
          <p style="padding:15px;">{{character1.description}}</p>
          <br>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Movement</span><br><br>{{character1.M}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Weapon Skill</span><br><br>{{character1.WS}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Ballistic Skill</span><br><br>{{character1.BS}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Strength</span><br><br>{{character1.S}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Toughness</span><br><br>{{character1.T}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Wounds</span><br><br>{{character1.W}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Attacks</span><br><br> {{character1.A}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Leadership</span><br><br> {{character1.Ld}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Armour Save</span><br><br>{{character1.Sv}}</div>
          </ion-col>
        </ion-row>
          <br>
          <p>Abilities</p>

          <br>
        <ion-row style="padding: 0px 15px; text-align:center;">
          <ion-list style="width:100%;">
            <ion-item *ngFor="let ability of abilities1; let i = index" style="width:100%;">{{ability}} <button class="deleteButton"ion-button style="margin-left: 5px; display:none;background-color:#581f16;" (click) = "deleteAbility(1,i)">x</button></ion-item>
          </ion-list>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-list>
            <ion-item style="width:65vw;margin-left:15px;">
              <ion-label stacked>Add Ability</ion-label>
              <ion-input type="text" [(ngModel)]="abilityToAdd"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <button ion-button full style="background-color:#2f5834;margin-top:15%;width:15vw;" (click)="addAbility(1)">+</button>
          </ion-col>
        </ion-row>
        <br>
         <button class=edit style="color: #999;" ion-button clear (click)="showDeleteButtons()">Edit Abilities</button>
         <button class=stopEdit style="display:none;color: #999;"  ion-button clear (click)="hideDeleteButtons()">Stop Editing</button>
        <br><br>
</ion-card>

<ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/teamroster/{{character2.name}}.png" >
          </ion-avatar>
          <h2>{{character2.name}}</h2>
          <div class="progress-outer">
                  <div class="progress-inner" [style.width]="(progress2/750) + '%'">
                    {{progress2}}
                  </div>
          </div>
          <p></p>
        </ion-item>
        <img src="assets/imgs/teamroster/{{character2.name}}.png" style="width:50% !important; margin:auto;">
        <br><br>
        <button ion-button style="background-color:#2f5834;" (click)="alterExperience(1,2)">+ experience</button>
        <button ion-button style="background-color:#581f16;" (click)="alterExperience(-1,2)">- experience</button>
        <br><br>
          <p style="padding:15px;">{{character2.description}}</p>
          <br>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Movement</span><br><br>{{character2.M}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Weapon Skill</span><br><br> {{character2.WS}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Ballistic Skill</span><br><br>{{character2.BS}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Strength</span><br><br>{{character2.S}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Toughness</span><br><br>{{character2.T}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Wounds</span><br><br> {{character2.W}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Attacks</span><br><br> {{character2.A}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Leadership</span><br><br>{{character2.Ld}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Armour Save</span><br><br> {{character2.Sv}}</div>
          </ion-col>
        </ion-row>
          <br>
          <p>Abilities</p>
          <br>
        <ion-row>

          <ion-list >
            <ion-item *ngFor="let ability of abilities2; let i = index">{{ability}}<button class="deleteButton"  ion-button style="background-color:#581f16;margin-left: 5px;display:none;" (click) = "deleteAbility(2,i)">x</button></ion-item>
          </ion-list>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-list>
            <ion-item style="width:65vw;margin-left:15px;">
              <ion-label stacked>Add Ability</ion-label>
              <ion-input type="text" [(ngModel)]="abilityToAdd"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <button ion-button full style="background-color:#2f5834;margin-top:15%;width:15vw;" (click)="addAbility(2)">+</button>
          </ion-col>
        </ion-row>
        <br>
         <button class=edit style="color: #999;" ion-button clear (click)="showDeleteButtons()">Edit Abilities</button>
         <button class=stopEdit style="display:none;color:#999;"  ion-button clear (click)="hideDeleteButtons()">Stop Editing</button>
        <br><br>
</ion-card>

<ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/teamroster/{{character3.name}}.png" >
          </ion-avatar>
          <h2>{{character3.name}}</h2>
          <div class="progress-outer">
                  <div class="progress-inner" [style.width]="(progress3/750) + '%'">
                    {{progress3}}
                  </div>
          </div>
          <p></p>
        </ion-item>
        <img src="assets/imgs/teamroster/{{character3.name}}.png" style="width:50% !important; margin:auto;">
        <br><br>
        <button ion-button style="background-color:#2f5834;" (click)="alterExperience(1,3)">+ experience</button>
        <button ion-button style="background-color:#581f16;" (click)="alterExperience(-1,3)">- experience</button>
        <br><br>
          <p style="padding:15px;">{{character3.description}}</p>
          <br>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Movement</span><br><br>{{character3.M}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Weapon Skill</span><br><br> {{character3.WS}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Ballistic Skill</span><br><br> {{character3.BS}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Strength</span><br><br> {{character3.S}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Toughness</span><br><br> {{character3.T}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Wounds</span><br><br>{{character3.W}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Attacks</span><br><br> {{character3.A}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Leadership</span><br><br>{{character3.Ld}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Armour Save</span><br><br>{{character3.Sv}}</div>
          </ion-col>
        </ion-row>
          <br>
          <p>Abilities</p>

          <br>
        <ion-row>

          <ion-list >
            <ion-item *ngFor="let ability of abilities3; let i = index">{{ability}}<button class="deleteButton"  ion-button style="margin-left: 5px;display:none;background-color:#581f16;" (click) = "deleteAbility(3,i)">x</button></ion-item>
          </ion-list>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-list>
            <ion-item style="width:65vw;margin-left:15px;">
              <ion-label stacked>Add Ability</ion-label>
              <ion-input type="text" [(ngModel)]="abilityToAdd"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <button ion-button full style="background-color:#2f5834;margin-top:15%;width:15vw;" (click)="addAbility(3)">+</button>
          </ion-col>
        </ion-row>
        <br>
         <button class=edit style="color: #999;" ion-button clear (click)="showDeleteButtons()">Edit Abilities</button>
         <button class=stopEdit style="display:none;color:#999"  ion-button clear (click)="hideDeleteButtons()">Stop Editing</button>
        <br><br>
</ion-card>

<ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/teamroster/{{character4.name}}.png" >
          </ion-avatar>
          <h2>{{character4.name}}</h2>
          <div class="progress-outer">
                  <div class="progress-inner" [style.width]="(progress4/750) + '%'">
                    {{progress4}}
                  </div>
          </div>
          <p></p>
        </ion-item>
        <img src="assets/imgs/teamroster/{{character4.name}}.png" style="width:50% !important; margin:auto;">
        <br><br>
        <button ion-button style="background-color:#2f5834;" (click)="alterExperience(1,4)">+ experience</button>
        <button ion-button style="background-color:#581f16;" (click)="alterExperience(-1,4)">- experience</button>
          <br><br>
          <p style="padding:15px;">{{character4.description}}</p>
          <br>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Movement</span><br><br> {{character4.M}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Weapon Skill</span><br><br> {{character4.WS}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Ballistic Skill</span><br><br> {{character4.BS}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Strength</span><br><br> {{character4.S}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Toughness</span><br><br> {{character4.T}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Wounds</span><br><br>{{character4.W}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Attacks</span><br><br> {{character4.A}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Leadership</span><br><br> {{character4.Ld}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Armour Save</span><br><br> {{character4.Sv}}</div>
          </ion-col>
        </ion-row>
          <br>
          <p>Abilities</p>

          <br>
        <ion-row>

          <ion-list >
            <ion-item *ngFor="let ability of abilities4; let i = index">{{ability}}<button class="deleteButton" ion-button style="margin-left: 5px;display:none;background-color:#581f16;" (click) = "deleteAbility(4,i)">x</button></ion-item>
          </ion-list>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-list>
            <ion-item style="width:65vw;margin-left:15px;">
              <ion-label stacked>Add Ability</ion-label>
              <ion-input type="text" [(ngModel)]="abilityToAdd"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <button ion-button full style="background-color:#2f5834;margin-top:15%;width:15vw;" (click)="addAbility(4)">+</button>
          </ion-col>

        </ion-row>
        <br>
         <button class=edit style="color: #999;" ion-button clear (click)="showDeleteButtons()">Edit Abilities</button>
         <button class=stopEdit style="display:none;color:#999"  ion-button clear (click)="hideDeleteButtons()">Stop Editing</button>
        <br><br>
</ion-card>

<ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/teamroster/{{character5.name}}.png" >
          </ion-avatar>
          <h2>{{character5.name}}</h2>
          <div class="progress-outer">
                  <div class="progress-inner" [style.width]="(progress5/750) + '%'">
                    {{progress5}}
                  </div>
          </div>
          <p></p>
        </ion-item>
        <img src="assets/imgs/teamroster/{{character5.name}}.png" style="width:50% !important; margin:auto;">
        <br><br>
        <button ion-button style="background-color:#2f5834;" (click)="alterExperience(1,5)">+ experience</button>
        <button ion-button style="background-color:#581f16;" (click)="alterExperience(-1,5)">- experience</button>
          <br><br>
          <p style="padding:15px;">{{character5.description}}</p>
          <br>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col >
              <div><span style="font-weight: bold;color:#706f6f;">Movement</span><br><br>{{character5.M}}</div>
          </ion-col>
          <ion-col >
              <div><span style="font-weight: bold;color:#706f6f;">Weapon Skill</span><br><br> {{character5.WS}}</div>
          </ion-col>
          <ion-col >
              <div><span style="font-weight: bold;color:#706f6f;">Ballistic Skill</span><br><br> {{character5.BS}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Strength</span><br><br> {{character5.S}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Toughness</span><br><br>{{character5.T}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Wounds</span><br><br>{{character5.W}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color:#f4f4f4 !important;border: 1px solid #dcdcdc;padding:10px;">
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Attacks</span><br><br>{{character5.A}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Leadership</span><br><br>{{character5.Ld}}</div>
          </ion-col>
          <ion-col>
              <div><span style="font-weight: bold;color:#706f6f;">Armour Save</span><br><br> {{character5.Sv}}</div>
          </ion-col>
        </ion-row>
        <br>
        <p>Abilities</p>

        <br>
        <ion-row>

          <ion-list >
            <ion-item *ngFor="let ability of abilities5; let i = index">{{ability}}<button class="deleteButton" ion-button  style="margin-left: 5px;display:none;background-color:#581f16;"  (click) = "deleteAbility(5,i)">x</button></ion-item>
          </ion-list>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-list>
            <ion-item style="width:65vw;margin-left:15px;">
              <ion-label stacked>Add Ability</ion-label>
              <ion-input type="text" [(ngModel)]="abilityToAdd"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <button ion-button full style="background-color:#2f5834;margin-top:15%;width:15vw;" (click)="addAbility(5)">+</button>
          </ion-col>

        </ion-row>
        <br>
         <button class=edit style="color: #999;" ion-button clear (click)="showDeleteButtons()">Edit Abilities</button>
         <button class=stopEdit style="display:none;color:#999"  ion-button clear (click)="hideDeleteButtons()">Stop Editing</button>
        <br><br>
</ion-card>

<div id=saveGameCard style="display:none;">
  <ion-item id=gameNameInput>
    <ion-label floating>Name your game ...</ion-label>
    <ion-input type="text" [(ngModel)]="gameName" style="width:50%;"></ion-input>
  </ion-item>
  <button ion-button full style="background-color:#2f5834;" id="saveButton" (click)="saveGame()">Save</button>
  <button ion-button full style="background-color:#2f5834;" id="reSaveButton" (click)="reSaveGame()">Re-Save</button>
</div>
<button ion-button full style="background-color:#284358;" (click)="triggerSaveGame()">Save your stuff for later?</button>
<button ion-button full style= "background-color:#576047 !important;" (click)="gotostart()">Back to start</button>




</ion-content>
