<ion-header>
  <ion-navbar>

    <ion-title style="text-align:center;">Select a game option . . .</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card style="">
    <button ion-button  block style="height:8.6rem;background-color:#2f5834;" (click)="codex()" >
      New Game
    </button>
    <ion-grid>
      <ion-row *ngFor="let game of savedGames; let i = index" >
        <ion-col class="col col-11">
          <button ion-button block style="height:8.6rem;width:76vw;background-color:#284358;" (click)="navigateToTeamRosterPage(game,i)" >
            {{game.name}}
          </button>
        </ion-col>
        <ion-col class="col col-6"><button ion-button block style="height:8.6rem;width:10vw;background-color:#581f16;"  (click)="deleteGame(game,i)">
          X
        </button></ion-col>
      </ion-row>
    </ion-grid>
    <!-- <button ion-button full style="height:8.6rem;" *ngFor="let game of savedGames; let i = index" (click)="navigateToTeamRosterPage(game)" >
      {{game.name}}
    </button> -->
  </ion-card>




</ion-content>
