page-choosecampaign {

  ion-card {
    position: relative;
    text-align: center;
  }
  body {
    font-family: 'Anaheim', sans-serif;
  }

  .card-title {
    position: absolute;
    top: 45%;//was 36
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    font-family: 'Anaheim', sans-serif;
    //font-family: 'Sedgwick Ave Display', cursive;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
