<ion-header>
  <ion-navbar>

    <ion-title style="">{{campaign.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">


  <div *ngFor="let mission of missions; let i = index" (click)="selectMission(i)">


  </div>

  <ion-card *ngFor="let mission of missions; let i = index" (click)="selectMission(i)" style="height:30%;" >
    <div class="card-title">{{mission.name}}</div>
      <!--<div class="card-subtitle">41 Listings</div>-->
  </ion-card>
  <!-- <ion-card style="height:30%;">
    <div class="card-title">{{mission2}}</div>
  </ion-card>
  <ion-card style="height:30%;" >
    <div class="card-title">{{mission3}}</div>
  </ion-card>
  <ion-card style="height:30%;" >
    <div class="card-title">{{mission4}}</div>
  </ion-card>
  <ion-card style="height:30%;" >
    <div class="card-title">{{mission5}}</div>
  </ion-card> -->



</ion-content>
