page-home {

  ion-card {
    position: relative;
    text-align: center;
  }

  body {
    font-family: 'Anaheim', sans-serif;
  }

  .card-title {
    position: absolute;
    top: 30%;//was 36
    font-size: 5.0em;
    width: 100%;

    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: gray;
  }

}
