page-chooseteam {

  ion-card {
    position: relative;
    text-align: center;
  }

  body {
    font-family: 'Anaheim', sans-serif;
  }

  .card-title {
    position: absolute;
    top: 45%;//was 36
    font-size: 6.0em;
    width: 100%;

    font-family: 'Sedgwick Ave Display', cursive;
    color: gray;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 32%;
    width: 100%;
    color: #fff;
  }


.text {
 background-color: #4CAF50;
 color: white;
 font-size: 16px;
 padding: 16px 32px;
 display:none;
}

}
