page-chooseteam {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 45%;//was 36
    font-size: 6.0em;
    width: 100%;

    font-family: 'Sedgwick Ave Display', cursive;
    color: gray;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
